    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="/bower_components/bootstrap/docs/assets/js/bootstrap.js"></script>
    <script src="/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <script>
      $(document).ready(function() {
        $(".colorbox").colorbox({maxWidth:'95%', maxHeight:'95%'});

        var $link = null;
        var full_path = location.pathname + location.hash;
        $('ul.nav li').each(function() {
          $link = $('a', this);
          if ($link.attr('href') == full_path) {
            $(this).addClass('active');
          }
        });
      });
    </script>
  {% if page.url != '/' %}
    <div class="container">
      <div class="center">
        <p>
          {% if app.request.pathInfo != '/' %}
            <a href="/" class="btn btn-large btn-primary btn-home"><i class="icon-home icon-white"></i> Go back home</a>
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
