    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="/bower_components/bootstrap/docs/assets/js/bootstrap.js"></script>
    <script src="/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <script>
      $(document).ready(function() {
        $(".colorbox").colorbox({maxWidth:'95%', maxHeight:'95%'});
      });
    </script>
