<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="/posts.atom" type="application/atom+xml" rel="alternate" title="{{ "/feed.xml" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- Le styles -->
    <link href="/bower_components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/colorbox/colorbox.css" rel="stylesheet">
</head>
